.flash {
    animation-name: flash;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

@keyframes flash {
    from {color: #0066DD;}
    to {color: #000000;}
}

.painel {
  color: #000000;
  text-align: right;
  font-size: 27px;
  font-weight: bold;
  padding: 2px 0px 10px 0px;
  margin: 5px;
}

.painel a {
  background-color: #FFFFFF;
  color: #000000;
  border-style: solid;
  border-radius: 10px;
  border-width: 3px;
  font-size: 16px;
  padding: 5px 10px 5px 10px;
  margin: 0px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.12), 4px 4px 2px rgba(0,0,0,0.24);
}
