/* Slide Show */
.mySlides {
  display:none
}

/* Slideshow */
.slideshow-container {
  position: relative;
  max-width: 840px;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 7px;
}

.slideshow-screen {
  max-width: 800px;
  max-height: 438px;
  width: auto;
  margin-top: 5px;
  margin-left: 5px;
  background-color: #111111;
  background: #111111; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#151515 0%, #070707 50%, #151515 100%); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#151515 0%, #070707 50%, #151515 100%); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#151515 0%, #070707 50%, #151515 100%); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#151515 0%, #070707 50%, #151515 100%); /* Standard syntax (must be last) */
  border-color: #111111;
  border-top: solid;
  border-right: solid;
  border-bottom: solid;
  border-left: solid;
  border-width: 0px;
  padding: 25px;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.12), 4px 4px 2px rgba(0,0,0,0.24);
}

.slideshow-controls {
  max-width: 605px;
  width: 100%;
  margin-left: 5px;
  margin-top: 0px;
  margin-right: 5px;
  background-color: #111111;
  background: #111111; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#151515 0%, #070707 50%, #151515 100%); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#151515 0%, #070707 50%, #151515 100%); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#151515 0%, #070707 50%, #151515 100%); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#151515 0%, #070707 50%, #151515 100%); /* Standard syntax (must be last) */
  border-top: solid;
  border-right: solid;
  border-bottom: solid;
  border-left: solid;
  border-width: 0px;
  padding: 25px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.12), 4px 4px 2px rgba(0,0,0,0.24);
  
}

@media only screen and (min-width: 860px) {
  .slideshow-controls {
    max-width:224px;
	height:438px;
	margin-left:0px;
	border-radius: 0px 10px 10px 0px;
	margin-top: 5px;
  }
  .slideshow-screen {
    border-radius: 10px 0px 0px 10px;
  }
}

/* Next & previous buttons */
.prev, .next {
  cursor:pointer;
  padding: 8px;
  width: 40px;
  height: 40px;
  margin: 5px 5px;
  background-color: #888888;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  color: #000000;
  font-weight: bold;
  font-size: 16px;
  transition: 0.6s ease;
  border-radius: 3px 3px 3px 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,140,210,0.75);
  text-decoration:none;
  color: #FFFFFF;
}

/* Caption text */
.text {
  color: #EEEEEE;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  top: 0px;
  left: 25px;
  width: 100%;
  text-align: left;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #888888;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 35px;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  padding: 8px;
  width: 40px;
  height: 40px;
  margin: 5px 5px;
  background-color: #888888;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  color: #000000;
  font-weight: bold;
  font-size: 16px;
  transition: 0.6s ease;
  border-radius: 3px 3px 3px 3px;
}

.active {
  background-color: #0099CC;
}

.dot:hover {
  background-color: #00CCFF;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next, .text {font-size: 11px}
}